#------------------------------------------------------------------------------
# Kubectl
#------------------------------------------------------------------------------

{% for alias, command in kubectl_aliases.items() %}
alias {{ alias }}='{{ command }}'
{% endfor %}