#------------------------------------------------------------------------------
# AWS CLI
#------------------------------------------------------------------------------

{% for alias, command in aws_aliases.items() %}
alias {{ alias }}='{{ command }}'
{% endfor %}